/* Deview Grid Container
========================================================================== */
.deview-grid {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

/* Deview Grid Columns
========================================================================== */
.deview-grid-columns {
    inset-inline-start: 0;
    inset-inline-end: 0;
    height: 100%;
    margin: 0 auto;
    background: repeating-linear-gradient(90deg,
            var(--grid-column-bg, rgba(128, 201, 255, 0.25)),
            var(--grid-column-bg, rgba(128, 201, 255, 0.25)) calc((100% - (((var(--grid-columns, 12) - 1) * var(--inner-gutter, 20px)))) / var(--grid-columns, 12)),
            rgba(0, 0, 0, 0) calc((100% - (((var(--grid-columns, 12) - 1) * var(--inner-gutter, 20px)))) / var(--grid-columns, 12)),
            rgba(0, 0, 0, 0) calc((100% - (((var(--grid-columns, 12) - 1) * var(--inner-gutter, 20px)))) / var(--grid-columns, 12) + var(--inner-gutter, 20px)));
    pointer-events: none;
}

/* Grid Hidden Switcher
========================================================================== */
.deview-grid > *[is-hidden] {
    visibility: hidden;
    opacity: 0;
    transition: ease-out .25s;
}

.deview-grid > *[is-visible] {
    visibility: visible;
    opacity: 1;
    transition: ease-in-out .25s;
}

/* Deview Artboard Scale
========================================================================== */
[dev-scale="1.0"] {
    transform: scale(1);
}

[dev-scale="0.8"] {
    transform: scale(0.8);
}

[dev-scale="0.6"] {
    transform: scale(0.6);
}

[dev-scale="0.4"] {
    transform: scale(0.4);
}

[dev-scale] {
    transition: transform 0.3s cubic-bezier(.59, .01, .28, 1);
}

/* Deview Box Background if scaled
========================================================================== */
html[dev] {
    background-color: #ececec;
    height: auto;
}

html[dev] > [dev-scale] {
    max-width: var(--artboard-max-width, 1200px);
    margin-inline: auto;
    min-height: 100vh;
}